body{
    background-color: 	#ADD8E6;
}

.container{

    width: 80%;
    margin: auto;
}
.video{
    text-align: center;
}
figure{
    text-align: center;
}
h1{
    text-align: center;
    color: 	#1C1C1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: dotted;
}
h2{
    text-align: center;
    color: 		#4682B4;
}
h3{
    text-align: center;
    color: 			#4682B4;
    font: size 1.5em; ;
}
h4{ text-align: center;
    color: 			#4682B4;
}
h5{
    text-align: center;
    color: 			#4682B4;
}
p{
    font-size: 1.2em;
    font-weight: bold;
    color: #1C1C1C;
    text-align: justify;
    text-indent: 40px;
}
.img_topo{
    width: 100%;
}
.img_corpo{
    width: 50%;
}