body{
    background-color: #FFE4C4;
}

.container{

    width: 80%;
    margin: auto;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #A52A2A;
    text-align: left;

}
h1{
    text-align: center;

}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    width: 40%;
}
figure{
    text-align: center;
}