html{
    scroll-behavior: smooth;
}
.menu{
    background-color: #40E0D0;
    padding: 1.2%;
}
.itens_menu{
    text-align: center;
}
.itens_menu li{
    font-size: 1.3em;
    line-height: 1,5;
}
h1{
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color:  #ffffff;
    font-weight: bolder;
    text-shadow: 2px 2px 	#000000;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fundo{
    background-color: #FFFFF0;
}
.fundo_dois{
    background-color: #F8F8FF;
}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}
.container{
    width: 80%;
    margin: auto;
}
h2{
    text-align: center;
    color: 	#008080;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
.img_corpo{
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
}
figure{
    text-align: center;
    margin-top: 1,5%;
    margin-bottom: 1,5%;
}
.img_topo{
    width: 100%;
    margin-bottom: 1%;
}
.img_gif{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.video{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
p{
    font-size: 1.1em;
    color: #4F4F4F;
    text-align: justify;
    line-height: 1,5;
    text-indent: 40px;
    font-weight: bold;
    line-height: 150%;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
}
footer{
    background-color: #40E0D0;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}
.centro{
    text-align: center;
    color: #F0F8FF;
}
.links{
    text-align: center;
    color: #1C1C1C;
}
.topicos{
    font-size: 1.1em;
    color: #4F4F4F;
    text-align: justify;
    text-indent: 40px;
    line-height: 1,5;
}
.itens_menu a:link, .itens_menu a:visited{
    color: 	#ffffff;
    text-decoration: none;
    
}
.itens_menu a:hover{
    background-color: #008080;
    padding: 0.1%;
}
#prevenções a:hover, #teste a:hover{
   color: #1C1C1C;
}
.botao{
    width: 100px;
    height: 25px;
    background-color: #40E0D0;
    margin: auto;
    padding: 1.5%;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.botao p {
    text-indent: 0;
    text-align: center;
}
.botao a:link, .botao a:visited{
    color: #008080;
}
.botao2{
    width: 100px;
    height: 25px;
    background-color: #40E0D0;
    margin: auto;
    padding: 1.5%;
    border-radius: 25px;
    border-style: solid;
    border-color: #008080;
    border-width: medium;
    margin-top: 1%;
    margin-bottom: 1%;
}
.botao2 p {
    text-indent: 0;
    text-align: center;
}
.botao2 a:link, .botao2 a:visited{
    color: #008080;
}
.botao2 a:hover{
    color: #000000;
}
.centro a:link, .centro a:visited{
    color: 	#ffffff;
}
.centro a:hover{
    background-color: #008080;
    padding: 0.1%;
}
.direita{
    float: right;
    margin-left: 1%;
    width: 40%;
}
.esquerda{
    float:left;
    margin-right: 2%;
    width: 50%;
}